{% load static %}
<!DOCTYPE html>

<html lang="ru">

<head>
    <meta charset="UTF-8">
    <!-- Для рендера -->
    <meta http-equiv="X-UA-Contatible" content="IE-edge"> 
    <!-- отображением веб-страницы на мобильных устройствах -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/first.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>


<body>
    <div class="wrapper">
        <button class="shadow__btn">
            Перевозки
        </button>
        <button class="shadow__btn">
            Переработка
        </button>
        <button class="shadow__btn">
            Крафт
        </button>
    </div>
</body>





</html>